/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Full Background */
.bg {
  min-height: 100vh;
  width: 100%;
  background:
    linear-gradient(to right, #bd738100 50%, transparent 50%),
    url("assest/bg.jpeg");

  background-size: 50% 100%, cover;
  background-position: left center, center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: #4b0012;
  width: 90%;
  max-width: 350px;
  padding: 20px;

  border-radius: 12px;
  text-align: center;
  color: white;

  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

/* Text */
.title {
  font-size: clamp(18px, 3vw, 24px);
  margin-bottom: 10px;
}

.card h2 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: clamp(14px, 2.5vw, 18px);
}

/* Buttons Container */
.buttons {
  position: relative;
  height: 60px;
}

/* Buttons */
button {
  padding: 10px 24px;

  border: none;
  border-radius: 12px;

  font-size: clamp(14px, 2vw, 18px);

  cursor: pointer;
  background: #f6d9df;

  transition: 0.2s ease;
}

button:hover {
  background: #ffb6c1;
}

/* Yes / No Position */
#yes {
  position: absolute;
  left: 15%;
}

#no {
  position: absolute;
  right: 15%;
}


/* ---------------- YES PAGE ---------------- */

body.yes-page {
  min-height: 100vh;

  /* background: url("assest/yesbg.jpeg") no-repeat center; */
  /* background-size: cover; */
}

/* Center Container */
.container {
  min-height: 100vh;
background: url("assest/yesbg.jpeg") no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/* Message Box */
.message-box {
  padding: 30px 25px;

  text-align: center;

  max-width: 600px;
  width: 100%;

  color: #b40830;
}

/* Headings */
.message-box h1,
.message-box h2 {
  margin-bottom: 15px;

  font-size: clamp(22px, 4vw, 28px);
}

/* Text */
.message-box p {
  font-size: clamp(14px, 2.5vw, 18px);

  color: #4b0012;
  line-height: 1.5;
}


/* ---------------- MOBILE ---------------- */

@media (max-width: 600px) {

  .card {
    padding: 15px;
  }

  .buttons {
    height: 55px;
  }

  #yes {
    left: 10%;
  }

  #no {
    right: 10%;
  }

}
